
<script>
  $(document).ready(function(){
    $("#my-click").click(function(){
      $("#foo").html('<h1>hello world!</h1>');
    })
  })
</script>

<!-- <script>
  console.log("checkpoint A");
  $("#my-click").click(function(){
    console.log("checkpoint C");
  })
  console.log("checkpoint B");
</script> -->

<p>
<a id="my-click">Click Me</a>
</p>

<div id="foo" style="border: 1px solid red;">
  <p>bar</p>
</div>
